.blinking_cursor{
  font:400 16px monospace;
  color:#1fbaa7;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: None;
  }
  50% {
    color:#1fbaa7;
    text-shadow:#89d3fd 0 -1px 35px;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
    text-shadow: None;
  }
  50% {
    color:#1fbaa7;
    text-shadow:#89d3fd 0 -1px 35px;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: None;
  }
  50% {
    color:#1fbaa7;
    text-shadow:#89d3fd 0 -1px 35px;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: None;
  }
  50% {
    color:#1fbaa7;
    text-shadow:#89d3fd 0 -1px 35px;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
    text-shadow: None;
  }
  50% {
    color:#1fbaa7;
    text-shadow:#89d3fd 0 -1px 35px;
  }
}
